ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.smallSpacer {
  margin: 10px;
}

mat-toolbar {
  background-color: #2f2e2e;
  margin-bottom: 20px;
}

.avatar-pic {
  /* width: 35px;
  height: auto;
  margin-top: 25px; */
}
