  <div class="main-head image-blurred-edge" style="background-image: url(//www.sce.ac.il/filestock/file/1543834742378-0.jpg);">
    <h2 class = "text-monospace white-text">בהצלחה בסמסטר ב׳</h2>
  </div>


  <div class="card-body card-body-cascade text-center">
    <div class="social-counters">
      <button type="button" class="btn btn-outline-light btn-rounded waves-effect" routerLink="/studentIdRequest"><i class="far fa-id-card pr-2"></i>תעודת סטודנט</button>
      <button type="button" class="btn btn-outline-light btn-rounded waves-effect" routerLink="/info"><i class="fas fa-info-circle pr-2"
          aria-hidden="true"></i>מידע בקליק</button>
      <button type="button" class="btn btn-outline-light btn-rounded waves-effect" routerLink="/examsBank"><i class="fas fa-user-graduate pr-2"
          aria-hidden="true"></i>בנק בחינות</button>
      <button type="button" class="btn btn-outline-light btn-rounded waves-effect" onclick="location.href='https://secure.wanted.co.il/sce.wanted.co.il/'"><i class="fas fa-coins pr-2"
          aria-hidden="true"></i>מערכת משרות</button>
      <button type="button" class="btn btn-outline-light btn-rounded waves-effect" routerLink="/scholarship"><i class="far fa-money-bill-alt pr-2"
          aria-hidden="true"></i>מלגות</button>
      <button type="button" class="btn btn-outline-light btn-rounded waves-effect" routerLink="/reserves"><i class="fas fa-train pr-2"
          aria-hidden="true"></i>מילואים</button>
          <button type="button" class="btn btn-outline-light btn-rounded waves-effect" routerLink="/tutors"><i class="fas fa-chalkboard-teacher pr-2"
            aria-hidden="true"></i>מורים פרטיים</button>
    </div>
    <!-- Social shares -->

  </div>


<br>
<section>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <div class="row" dir="rtl">
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4" *ngFor="let post of posts">
      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4">
        <img class="img-fluid" [src]="post.postImg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category
      <a class="pink-text">
        <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>Adventure</h6>
      </a> -->
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3" style="text-align: -webkit-auto;"><strong>{{post.title}}</strong></h4>
      <!-- Post data -->
      <!-- <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p> -->
      <!-- Excerpt -->
      <p class="dark-grey-text" style="display:block; text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">{{post.content}}</p>
      <!-- Read more button -->
      <a class="btn btn-primary btn-rounded btn-md" [routerLink]="['/viewContent', post.id]">מידע נוסף</a>
      <a class="btn btn-primary btn-rounded btn-md" *ngIf="this.authService.getIsAdmin()" style="background-color:grey; color: #b30000;" [routerLink]="['/editpost', post.id]">ערוך</a>
        <!-- Grid column -->
    </div>
  </div>
</section>

<br> <br>

<div class="card w-100 mb-3" *ngFor="let event of events" style="text-align: right; position: inherit; text-align: right; background-color: rgba(0,0,0,.2)">
  <div class="card-body">
    <h5 class="card-title">{{event?.title}}</h5>
    <p class="card-text"> מיקום:  {{event?.place}}</p>
    <p class="card-text"> תאריך:  {{event?.eventDate| date: 'dd/MM/yyyy'}}</p>
    <a [routerLink]="['/event', event.id]" class="btn btn-primary">רכישת כרטיסים</a>
  </div>
</div>

<br> <br> <br>









