:host {
  display: block;
  margin: 1rem;
}

mat-spinner {
  margin: auto;

}

#home_page .main-head{
  /* margin-bottom: 120px; */
  height: 30% !important;
  min-height: 380px;
  min-width: 150px;
}

.main-head {
  background-color: #989898;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 25px 0;
  text-align: center;
  color: #fff;
  z-index: 2;
  height: 30% !important;
  min-height: 380px;
  min-width: 150px;

}

.image-blurred-edge {
  /* you need to match the shadow color to your background or image border for the desired effect*/
  box-shadow: 0 0 8px 8px #332a2a inset;
}

.view img {
  width: max-content;
  height: 250px;
}
