<body dir="rtl">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="container" *ngIf="!this.isLoading">
    <img *ngIf="!this.isLoading" [src]="this.post?.postImg">
    <div class="card text-location" style="margin-bottom: 100px;">
      <div class="card-body" style="text-align: -webkit-auto;">
        <h5 class="card-title">{{post?.title}}</h5>
        <p class="card-text">{{post?.content}}</p>
        <a class="btn btn-primary btn-rounded btn-md">לרכישת כרטיסים</a>
        <br>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

</body>



