<!-- Section: Team v.3 -->
<section class="team-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">?מי אנחנו</h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5">אגודת הסטודנטים היא הגוף המייצג של הסטודנטים באקדמיה

    אנחנו הכתובת שלך בכל נושא אקדמי מול המכללה ובכל בעיה שתעלה במהלך התואר.

    כמו כן, אנחנו אתכם גם בועדות משמעת ובכל שאלה שיש לכם מסביב ללימודים.

    בפייסבוק שלנו תוכלו להתעדכן בכל הנושאים הכי חמים, כולל הודעות חשובות על שינויים בלוחות זמנים של לימודים, אירועים וכן הלאה.

    אגודת הסטודנטים נמצאת כאן בראש ובראשונה בזכות הסטודנטים ולמענכם!</p>



  <!-- Grid row-->
  <br><br>
  <h2 class="h1-responsive font-weight-bold text-center my-5">הצוות שלנו</h2>
  <br><br>

  <div class="row text-center text-md-left">
<!-- Grid column -->
<div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
  <div class="avatar mb-md-0 mb-4 mx-4">
    <img src="http://www.igdir.edu.tr/Addons/Resmi/Images/User-Profile/profil-19.png" class="rounded z-depth-1" alt="Sample avatar" style="width: 200px; height: 200px;">
  </div>
  <div class="mx-4">
    <h4 class="font-weight-bold mb-3">תורג׳מן גילה</h4>
    <h6 class="font-weight-bold grey-text mb-3">מנהלנית</h6>
    <p class="grey-text">מנהלנית אגודת הסטודנטים במכללת סמי שמעון, קמפוס ב״ש</p>
    <!-- Facebook-->
    <a class="p-2 fa-lg fb-ic">
      <i class="fab fa-facebook-f"> </i>
    </a>
    <!-- Twitter -->
    <a class="p-2 fa-lg tw-ic">
      <i class="fab fa-twitter"> </i>
    </a>
    <!-- GitHub-->
    <a class="p-2 fa-lg git-ic">
      <i class="fab fa-github"> </i>
    </a>
  </div>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
  <div class="avatar mb-md-0 mb-4 mx-4">
    <img src="http://www.igdir.edu.tr/Addons/Resmi/Images/User-Profile/profil-19.png" class="rounded z-depth-1" alt="Sample avatar" style="width: 200px; height: 200px;">
  </div>
  <div class="mx-4">
    <h4 class="font-weight-bold mb-3">דנן רום</h4>
    <h6 class="font-weight-bold grey-text mb-3">יושב ראש</h6>
    <p class="grey-text">יו״ר אגודת הסטונדטים במכללת סמי שמעון, קמפוס ב״ש ואשדוד</p>
    <!-- Facebook-->
    <a class="p-2 fa-lg fb-ic">
      <i class="fab fa-facebook-f"> </i>
    </a>
    <!-- Twitter -->
    <a class="p-2 fa-lg tw-ic">
      <i class="fab fa-twitter"> </i>
    </a>
    <!-- GitHub-->
    <a class="p-2 fa-lg git-ic">
      <i class="fab fa-github"> </i>
    </a>
  </div>
</div>
<!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="http://www.igdir.edu.tr/Addons/Resmi/Images/User-Profile/profil-19.png" class="rounded z-depth-1" alt="Sample avatar" style="width: 200px; height: 200px;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">תורג׳מן איילת</h4>
        <h6 class="font-weight-bold grey-text mb-3">רמ״ד אקדמי ומעורבות חברתית</h6>
        <p class="grey-text">רמ"ד אקדמית ומעורבות חברתית באגודת הסטודנטים במכללת סמי שמעון, קמפוס ב״ש
          סטודנטית הנדסת תעשייה וניהול
        </p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!-- GitHub-->
        <a class="p-2 fa-lg git-ic">
          <i class="fab fa-github"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-xl-0 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="http://www.igdir.edu.tr/Addons/Resmi/Images/User-Profile/profil-19.png" class="rounded z-depth-1" alt="Sample avatar" style="width: 200px; height: 200px;">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">לי דופרמן</h4>
        <h6 class="font-weight-bold grey-text mb-3">גזברית</h6>
        <p class="grey-text">גזברית אגודת הסטודנטים במכללת סמי שמעון, קמפוס ב״ש ואשדוד. סטודנטית הנדסת בניין</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!-- GitHub-->
        <a class="p-2 fa-lg git-ic">
          <i class="fab fa-github"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->
  <br><br><br>

</section>
<!-- Section: Team v.3 -->
